<div class="giphCards col-2 col-sm-12 col-md-4 col-lg-2">
  <mat-card class="example-card">
    <mat-card-header class="cardHeader">
      <mat-card-title>{{giph.title}}</mat-card-title> 
      <span *ngIf="showBookmark" (click)="bookmarkGif(giph.id)">
          <mat-icon class="bookmarkIcon" aria-hidden="true" svgIcon="bookmark" aria-label="Bookmark"></mat-icon>
      </span> 
      <span *ngIf="showBookmark == false" (click)="deleteBookmark(giph.id)">
        <mat-icon class="bookmarkIcon" aria-hidden="true" svgIcon="delete" aria-label="Delete"></mat-icon>
    </span> 
    </mat-card-header>
    
    <mat-card-content>
      <p>        
        <img src="{{giph.images.fixed_width_downsampled.url}}" width="200px">
      </p>
    </mat-card-content>
  </mat-card>
</div>