.giphCards {
  margin: .2em;
  display: flex;
}

.example-card {
  width: 230px;
}

mat-card.-header{
  font-size: 1em;
}

.mat-card {
  background-color: rgba(0,0,0,.05);
}

.bookmarkIcon {
  cursor: pointer;
}

.card-title{
  margin-top: 4.4em;
  font-weight: bold;
}

.card img {
  width: 200px;
  height: 200px;
}
