.giphCards {
  margin: .2em;
  display: flex;
}

.example-card {
  width: 230px;
}

mat-card.-header{
  font-size: 1em;
}

.mat-card {
  background-color: rgba(0,0,0,.05);
}

.bookmarkIcon {
  cursor: pointer;
}
