<div class="giph-container container-fluid">
		<div class="alert alert-danger fade show" [ngStyle]="{display: errorDisplay}" role="alert">
				{{errorMessage}}
				<button type="button" class="close" aria-label="Close" (click)="hideError()">
						<span aria-hidden="true">&times;</span>
				</button>
		</div>
		<div class="alert alert-success fade show" [ngStyle]="{display: messageDisplay}" role="alert">
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
		</div>
</div>

<div class="row">
		<app-giph [showBookmark]="showBookmark" (addBookmark)="bookmarkGif($event)" [giph]="giph" [showCount]="showCount"
			*ngFor="let giph of giphs">
		</app-giph>
</div>